:root {
    --deep-blue: #1a2a77;
    --deep-deep-blue: #141f59;
    --black-blue: #03050f;
    --comp-white: #eef0ff;
    --blue-light-shadow: #374588;
    --blue-dark-shadow: #0a102d;
    --lime-green: #9fc131;
    --dark-gray: #666a7d;
    --comp-white-light: #f9f9ff;
    --comp-white-dark: #232424;
}


/*-----RESPONSIVE GRID------*/

* {
    box-sizing: border-box;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    width: 100%;
}


/*  Mobile Portrait Media Query */


/*@media only screen and (max-width: 500px) and (min-height: 701px)*/


/* Dropdown button on hover & focus */

.dropdown-button:hover,
.dropdown-button:focus {
    background-color: var(--deep-blue);
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--deep-blue);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
    margin-top: 4rem;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: var(--comp-white);
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    display: block;
    background-color: var(--deep-blue);
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: var(--deep-deep-blue)
}


/* Show the dropdown menu */

.show-menu {
    display: block;
}


/*---------Dropdown Menu (mobile)--------*/


/*-------------Show----------------*/

#trial-run-header-section {
    position: sticky;
    background-color: var(--deep-blue);
    width: 100%;
    height: 4rem;
    margin: 0;
    top: 0;
    z-index: 5;
    grid-column-start: 0;
    grid-column-end: 100%;
    grid-row-start: 0;
    grid-row-end: 25%;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding-top: 0.5rem;
}

ul.navbar li {
    display: inline;
}

ul.navbar li>a:link {
    text-decoration: none;
    color: var(--comp-white);
}

ul.navbar li>a:visited {
    text-decoration: none;
    color: var(--comp-white);
}


/*--------Dropdown Menu (mobile)--------*/


/* Dropdown Button */

.dropdown-button {
    background-color: var(--deep-blue);
    color: var(--comp-white);
    font-size: 1rem;
    border: none;
    cursor: pointer;
    align-self: center;
}

li.dropdown.mobile-navbutton {
    justify-content: right;
}

.dropdown-button>img {
    padding-right: 1rem;
}

.mobile-logo-icon {
    padding-top: 0.5rem;
    justify-content: left;
}

.vedev-icon {
    height: 3em;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.mobile-navbutton {
    background-color: var(--deep-blue);
    width: 100%;
    margin-left: 0;
    display: flex;
    font-family: Corbel, sans-serif;
}

ul.mobile-navbar {
    list-style-type: none;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100%, auto);
    width: 100%;
    justify-content: center;
    padding: 0;
}

#trial-run {
    /*background-color: var(--deep-blue);*/
    background-image: url(../img/new-mobile-background-PNG-crop-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: max-content;
    padding-bottom: 6rem;
}

#trial-run-headshot-box {
    padding-top: 7rem;
    /*background-image: url(../img/new-mobile-background-PNG-test.png);*/
    margin: auto;
    justify-content: center;
    width: auto;
    display: flex;
    padding-bottom: 2rem;
}

#trial-run-headshot-box>img {
    width: 50%;
    border-radius: 50%;
    background: var(--deep-blue);
}

h1.trial-run-landingText1 {
    text-align: center;
    color: var(--dark-gray);
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
    font-family: Corbel, sans-serif;
}

h3.trial-run-landingText {
    text-align: center;
    color: var(--deep-blue);
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 3rem;
    font-family: Corbel, sans-serif;
}

.trial-run-contact-button-div {
    display: flex;
    justify-content: center;
}

.trial-run-contact-button {
    color: var(--comp-white);
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Corbel, sans-serif;
    /*Neomorphism Addition Gold*/
    background: var(--deep-blue);
    box-shadow: -16px 16px 68px var(--comp-white-dark), 16px -16px 68px var(--comp-white-light);
}

.trial-run-contact-button:hover {
    color: var(--black-blue);
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    /*Neomorphism Addition Gold*/
    background: var(--lime-green);
    box-shadow: -16px 16px 68px var(--blue-dark-shadow), 16px -16px 68px var(--blue-light-shadow);
    font-family: Corbel, sans-serif;
}


/*---------About Section---------*/

.about-section {
    display: inline-block;
    background-color: var(--comp-white);
    height: fit-content;
    padding-top: 5em;
    padding-bottom: 4rem;
}

.about-text>h1 {
    display: inline-block;
    color: var(--deep-blue);
    font-size: 2em;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0%;
    height: 2rem;
    width: 100%;
    font-family: Corbel, sans-serif;
    padding-bottom: 4rem;
}

.about-text>p {
    color: var(--black-blue);
    font-size: 100%;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.about-text {
    display: inline-block;
    color: var(--black-blue);
}

.about-info {
    display: inline-block;
}

.education-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100%, auto);
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.education1,
.education2 {
    display: inline-block;
    height: 100%;
    width: auto;
    margin-top: 1rem;
    border: 0.5rem solid var(--lime-green);
    border-bottom-style: hidden;
    border-right-style: hidden;
    padding-left: 1rem;
}

.education1 {
    margin-right: 0.5rem;
}

.education2 {
    margin-left: 0.5rem;
}

.education>h4 {
    font-family: Corbel, sans-serif;
}

.skills {
    display: inline-block;
    height: auto;
    width: auto;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    border: 0.5em solid var(--dark-gray);
    border-bottom-style: hidden;
    border-right-style: hidden;
    padding-left: 1rem;
}

.skills>h4 {
    font-family: Corbel, sans-serif;
}

.skill-icons {
    margin-left: 1rem;
    padding-left: 0;
    padding-right: 0;
}

ul.skill-icons {
    list-style-type: none;
    padding-top: 1rem;
    margin-left: 0%;
    margin-right: 2rem;
    width: 100%;
}

ul.skill-icons li {
    display: inline;
}

#indiv-icon {
    height: 2.5rem;
    width: 2.5rem;
}

a:link,
a:visited {
    text-decoration: none;
}

.resume-link {
    color: var(--comp-white-dark);
    border: 2px solid var(--comp-white-dark);
    border-radius: 20px;
    padding: 0.2rem;
    font-size: 0.7rem;
}


/*-----------Portfolio Mobile-----------*/

#port {
    height: fit-content;
    background-color: var(--dark-gray);
    color: var(--comp-white);
    padding-top: 5em;
    padding-bottom: 2rem;
}

.responsive-img {
    height: auto;
    width: 100%;
}

#port>h1 {
    display: inline-block;
    color: var(--comp-white);
    font-size: 2em;
    text-align: center;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    grid-column-start: 0;
    grid-column-end: 100%;
    grid-row-start: 0;
    grid-row-end: 25%;
    font-family: Corbel, sans-serif;
}

.port-data {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 5rem;
    overflow-wrap: normal;
}

.port-entry {
    display: flex;
    border: solid 1px var(--off-white);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    background-color: var(--black);
    height: 70%;
    justify-content: center;
}

.port-entry>img {
    object-fit: cover;
    height: 100%;
    margin: auto;
}

#port a {
    text-decoration: none;
    color: var(--comp-white);
}


/*-----------Contact Mobile-----------*/

#contact {
    display: grid;
    background-color: var(--comp-white);
    width: 100%;
    height: fit-content;
    padding-bottom: 4rem;
    z-index: -2;
}

.hidden {
    display: none;
}

.contact-text {
    background: var(--comp-white);
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
}

h1.ContactText1 {
    color: var(--deep-blue);
    font-size: 2rem;
    font-family: Corbel, sans-serif;
    margin-bottom: 0;
}

h3.ContactText {
    color: var(--deep-blue);
    font-size: 1rem;
    margin-bottom: 2rem;
    font-family: Corbel, sans-serif;
}

.contact-form {
    background: #141f59;
    margin-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: auto;
    height: fit-content;
}

.top-fields-grid {
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-auto-rows: 50%;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
}

.bottom-fields {
    margin-top: 2rem;
}

label {
    font-family: Corbel, sans-serif;
    color: var(--comp-white);
}

#field {
    text-align: left;
}

 ::placeholder {
    color: var(--deep-blue);
    opacity: 0.7;
    font-family: Corbel, sans-serif;
}


/* Style inputs with type="text" */

input[type=text] {
    width: 100%;
    /* Full width */
    padding-top: 0.2rem;
    /* Some padding */
    padding-bottom: 0.2rem;
    border-radius: 10px;
    /* Rounded borders */
    border: 2px solid var(--comp-white);
    box-sizing: border-box;
    /*Make sure that padding and width stays in place */
    margin-bottom: 1rem;
    /* Bottom margin */
    background-color: var(--comp-white);
    box-shadow: 10px 10px 35px #03050f;
}

input[type=email] {
    width: 100%;
    /* Full width */
    padding-top: 0.2rem;
    /* Some padding */
    padding-bottom: 0.2rem;
    border-radius: 10px;
    /* Rounded borders */
    border: 2px solid var(--comp-white);
    box-sizing: border-box;
    /*Make sure that padding and width stays in place */
    margin-bottom: 1rem;
    /* Bottom margin */
    background-color: var(--comp-white);
    box-shadow: 10px 10px 35px #03050f;
}

input[type=text]:active,
input[type=text]:focus {
    border: 2px solid var(--lime-green);
    outline: none;
}

input[type=email]:active,
input[type=email]:focus {
    border: 2px solid var(--lime-green);
    outline: none;
}

textarea {
    width: 100%;
    /* Full width */
    padding-top: 0.5rem;
    /* Some padding */
    padding-bottom: 1rem;
    border-radius: 10px;
    border: 2px solid var(--comp-white);
    box-sizing: border-box;
    /*Make sure that padding and width stays in place */
    margin-bottom: 2rem;
    margin-top: 1rem;
    /* Bottom margin */
    resize: vertical;
    /* Allow the user to vertically resize the textarea (not horizontally) */
    /*z-index: 1;*/
    background-color: var(--comp-white);
    max-height: 8em;
    box-shadow: 10px 10px 35px #03050f;
}

textarea:active,
textarea:focus {
    border: 2px solid var(--lime-green);
    outline: none;
}

.form-button-div {
    margin-top: 4rem;
}

.form-button {
    margin-left: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    z-index: 4;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--comp-white);
    border-radius: 20px;
    background: var(--deep-blue);
}

.form-button:hover {
    margin-left: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    z-index: 4;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--comp-white);
    border-radius: 20px;
    background: var(--deep-blue);
    border: 2px solid var(--comp-white);
}

footer {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(100%, auto);
    background-color: var(--deep-blue);
    float: bottom;
    height: fit-content;
    text-align: center;
    z-index: 3;
    padding-bottom: 3rem;
}

ul.footer-navbar {
    list-style-type: none;
    margin: 0;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100%, auto);
    padding-left: 0;
}

#indiv-footer-icon {
    height: 2rem;
    width: 2rem;
}

.footer-navbutton {
    /*margin: 1.5rem 3.5rem 1.5rem 2rem;*/
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

ul.footer-navbar li {
    display: inline;
}

ul.footer-navbar li>a:link {
    text-decoration: none;
    color: var(--comp-white);
}

.credits {
    color: var(--comp-white);
    margin-top: 1rem;
    font-family: Corbel, sans-serif;
}


/*Media queries*/


/*Mobile Landscape Media Query*/

@media only screen and (max-width: 644px) and (max-height: 425px) and (orientation: landscape) {
    #trial-run-headshot-box {
        padding-top: 3rem;
        /*background-image: url(../img/new-mobile-background-PNG-test.png);*/
        margin: auto;
        justify-content: center;
        width: auto;
        display: flex;
        padding-bottom: 2rem;
    }
    #trial-run-headshot-box>img {
        width: 30%;
        border-radius: 50%;
        background: var(--deep-blue);
    }
}


/*Tablet Media Query*/

@media only screen and (min-width: 645px) and (max-width: 768px) {
    #trial-run {
        /*background-color: var(--deep-blue);*/
        background-image: url(../img/new-mobile-background-PNG-crop-3.png);
        background-size: cover;
        width: 100%;
        height: max-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(auto, 100%);
        padding-bottom: 11rem;
    }
    #trial-run-headshot-box {
        padding-top: 20rem;
        /*background-image: url(../img/new-mobile-background-PNG-test.png);*/
        margin: auto;
        justify-content: center;
        width: auto;
        display: flex;
        padding-bottom: 2rem;
    }
    #trial-run-headshot-box>img {
        width: 50%;
        border-radius: 50%;
        background: var(--deep-blue);
    }
    h1.trial-run-landingText1 {
        padding-top: 20rem;
        text-align: center;
        color: var(--dark-gray);
        font-size: 2.5rem;
        margin-bottom: 0;
        margin-top: 0;
        font-family: Corbel, sans-serif;
    }
    h3.trial-run-landingText {
        text-align: center;
        color: var(--deep-blue);
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 3rem;
        font-family: Corbel, sans-serif;
    }
    .trial-run-contact-button-div {
        display: flex;
        justify-content: center;
    }
    .trial-run-contact-button {
        color: var(--comp-white);
        border-radius: 20px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Corbel, sans-serif;
        /*Neomorphism Addition Gold*/
        background: var(--deep-blue);
        box-shadow: -16px 16px 68px var(--comp-white-dark), 16px -16px 68px var(--comp-white-light);
    }
    .trial-run-contact-button:hover {
        color: var(--black-blue);
        border-radius: 20px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        /*Neomorphism Addition Gold*/
        background: var(--lime-green);
        box-shadow: -16px 16px 68px var(--blue-dark-shadow), 16px -16px 68px var(--blue-light-shadow);
        font-family: Corbel, sans-serif;
    }
    /*About*/
    .about-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(auto, 100%);
        background-color: var(--comp-white);
        height: fit-content;
        padding-top: 10em;
        padding-bottom: 13rem;
    }
    /*Portfolio*/
    .port-data {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(min-content, max-content);
        margin-left: 2rem;
        margin-right: 2rem;
        padding-bottom: 25rem;
        overflow-wrap: normal;
    }
    #contact {
        padding-top: 5rem;
    }
    .contact-form {
        background: #141f59;
        margin-top: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1.5rem;
        padding-top: 2rem;
        margin-left: 4rem;
        margin-right: 4rem;
        width: auto;
        height: fit-content;
    }
}


/*Laptop Media Query*/

@media only screen and (min-width: 769px) and (max-width: 1439px) {
    #trial-run {
        /*background-color: var(--deep-blue);*/
        background-image: url(../img/new-mobile-background-PNG-crop-3.png);
        background-size: cover;
        width: 100%;
        height: max-content;
        padding-bottom: 9rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(auto, 100%);
    }
    #trial-run-headshot-box {
        padding-top: 18rem;
        margin: auto;
        justify-content: center;
        width: auto;
        padding-bottom: 2rem;
    }
    #trial-run-headshot-box>img {
        width: 50%;
        border-radius: 50%;
        background: var(--deep-blue);
    }
    h1.trial-run-landingText1 {
        padding-top: 18rem;
        text-align: center;
        color: var(--dark-gray);
        font-size: 2.5rem;
        margin-bottom: 0;
        margin-top: 0;
        font-family: Corbel, sans-serif;
    }
    h3.trial-run-landingText {
        text-align: center;
        color: var(--deep-blue);
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 3rem;
        font-family: Corbel, sans-serif;
    }
    .trial-run-contact-button-div {
        display: flex;
        justify-content: center;
    }
    .trial-run-contact-button {
        color: var(--comp-white);
        border-radius: 20px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Corbel, sans-serif;
        /*Neomorphism Addition Gold*/
        background: var(--deep-blue);
        box-shadow: -16px 16px 68px var(--comp-white-dark), 16px -16px 68px var(--comp-white-light);
    }
    .trial-run-contact-button:hover {
        color: var(--black-blue);
        border-radius: 20px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        /*Neomorphism Addition Gold*/
        background: var(--lime-green);
        box-shadow: -16px 16px 68px var(--blue-dark-shadow), 16px -16px 68px var(--blue-light-shadow);
        font-family: Corbel, sans-serif;
    }
    /*About*/
    .about-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(auto, 100%);
        background-color: var(--comp-white);
        height: fit-content;
        padding-top: 9em;
        padding-bottom: 8rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    /*Portfolio*/
    .port-data {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(min-content, max-content);
        margin-left: 2rem;
        margin-right: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 20rem;
        padding-top: 4rem;
        overflow-wrap: normal;
    }
    #contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(auto, 100%);
        padding-top: 6rem;
        padding-bottom: 15rem;
    }
    .contact-form {
        background: #141f59;
        margin-top: 0;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 1.5rem;
        padding-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        width: auto;
        height: fit-content;
    }
}

@media only screen and (min-width: 1440px) {
    #trial-run {
        /*background-color: var(--deep-blue);*/
        background-image: url(../img/new-mobile-background-PNG-crop-3.png);
        background-size: cover;
        width: 100%;
        height: min-content;
        padding-bottom: 6rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(auto, 100%);
    }
    #trial-run-headshot-box {
        padding-top: 20rem;
        margin: auto;
        justify-content: center;
        width: auto;
        padding-bottom: 2rem;
    }
    #trial-run-headshot-box>img {
        width: 50%;
        border-radius: 50%;
        background: var(--deep-blue);
    }
    h1.trial-run-landingText1 {
        padding-top: 20rem;
        text-align: center;
        color: var(--dark-gray);
        font-size: 2.5rem;
        margin-bottom: 0;
        margin-top: 0;
        font-family: Corbel, sans-serif;
    }
    h3.trial-run-landingText {
        text-align: center;
        color: var(--deep-blue);
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 3rem;
        font-family: Corbel, sans-serif;
    }
    .trial-run-contact-button-div {
        display: flex;
        justify-content: center;
    }
    .trial-run-contact-button {
        color: var(--comp-white);
        border-radius: 20px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Corbel, sans-serif;
        /*Neomorphism Addition Gold*/
        background: var(--deep-blue);
        box-shadow: -16px 16px 68px var(--comp-white-dark), 16px -16px 68px var(--comp-white-light);
    }
    .trial-run-contact-button:hover {
        color: var(--black-blue);
        border-radius: 20px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        /*Neomorphism Addition Gold*/
        background: var(--lime-green);
        box-shadow: -16px 16px 68px var(--blue-dark-shadow), 16px -16px 68px var(--blue-light-shadow);
        font-family: Corbel, sans-serif;
    }
    /*About*/
    .about-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(auto, 100%);
        background-color: var(--comp-white);
        height: fit-content;
        padding-top: 11em;
        padding-bottom: 18rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    /*Portfolio*/
    .port-data {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(min-content, max-content);
        margin-left: 2rem;
        margin-right: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 20rem;
        overflow-wrap: normal;
    }
    #contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(auto, 100%);
        padding-top: 4rem;
    }
    .contact-form {
        background: #141f59;
        margin-top: 0;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 1.5rem;
        padding-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        width: auto;
        height: fit-content;
    }
}